<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h4 style="color:red">Error</h4>
        <h5 style="color:red">An error occurred while processing your request.</h5>
        <h5 style="color:red">@ViewBag.Message</h5style="color:red">
</hgroup>
</body>
</html>
